<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="library.mgiandia.com.androidlibrary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity
            android:name=".ui.HomePage.HomePage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ManageBorrowers.ManageBorrowers"
            android:label="@string/borrower_list"
            android:screenOrientation="portrait"
            android:theme="@style/SecondaryTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.BorrowerDetails.BorrowerDetails"
            android:label="@string/borrower_details"
            android:screenOrientation="portrait"
            android:theme="@style/SecondaryTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.AddBorrower.AddEditBorrower"
            android:label="@string/borrower_add"
            android:screenOrientation="portrait"
            android:theme="@style/SecondaryTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.DisplayLoans.DisplayLoans"
            android:label="@string/display_loans"
            android:screenOrientation="portrait"
            android:theme="@style/SecondaryTheme"
            android:windowSoftInputMode="stateAlwaysHidden"  />
        <activity android:name=".ui.ManageBooks.ManageBooks"
            android:label="@string/manage_books"
            android:screenOrientation="portrait"
            android:theme="@style/SecondaryTheme"
            android:windowSoftInputMode="stateAlwaysHidden" ></activity>
    </application>
</manifest>